In [2]:
import pandas as pd
import numpy as np
frame=pd.DataFrame({'b':[2,4,3,-5],'a':[0,1,0,1],'c':[2,3,4,6]})
frame.rank(axis=1)

     b    a    c
0  2.5  1.0  2.5
1  3.0  1.0  2.0
2  2.0  1.0  3.0
3  1.0  2.0  3.0

In [3]:
frame2=pd.DataFrame(np.random.randn(4,3),index=['a','a','b','b'])
frame2

          0         1         2
a -1.839321  0.314362 -0.511626
a -2.021642  0.198805 -0.412345
b -2.090684  0.908513 -0.208368
b -1.284255  1.524319  1.954862

In [4]:
frame2.ix['b']

AttributeError: 'DataFrame' object has no attribute 'ix'

In [5]:
df = pd.DataFrame([[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[3.4,5.8]],
                 index=['a','b','c','d'],columns=['one','two'])
df

   one  two
a  1.4  NaN
b  7.1 -4.5
c  NaN  NaN
d  3.4  5.8

In [6]:
df.sum()

one    11.9
two     1.3
dtype: float64

In [7]:
df.sum(axis=1)

a    1.4
b    2.6
c    0.0
d    9.2
dtype: float64

In [8]:
df.mean()

one    3.966667
two    0.650000
dtype: float64

In [9]:
df.mean(axis=1,skipna=False)

a    NaN
b    1.3
c    NaN
d    4.6
dtype: float64

In [10]:
df.mean(axis=1)

a    1.4
b    1.3
c    NaN
d    4.6
dtype: float64

In [11]:
df.cumsum()

    one  two
a   1.4  NaN
b   8.5 -4.5
c   NaN  NaN
d  11.9  1.3

In [12]:
df.describe()

            one     two
count  3.000000  2.0000
mean   3.966667  0.6500
std    2.891943  7.2832
min    1.400000 -4.5000
25%    2.400000 -1.9250
50%    3.400000  0.6500
75%    5.250000  3.2250
max    7.100000  5.8000

In [13]:
import pandas.io.data as web
all_data={}
for ticker in ['AAPL','IBM','MSFT','GOOG']:
    all_data[ticker]=web.get_data_yahoo(ticker,'1/1/2000','1/1/2010')
price=pd.DataFrame({tic:data['Adj close'],for tic,data in all_data.iteritems()})
volume=pd.DataFrame({tic:data['Volume'],for tic,data in all_data.iteritems()})
returns=price.pct_change()
returns.tail()

SyntaxError: invalid syntax (<ipython-input-13-b741cd93a670>, line 5)

In [2]:
for i in range(4):
    print(i)

0
1
2
3

In [1]:
sf = pd.DataFrame(np.arange(9).reshape(3,3),index=['a','b','c'],columns=['linus','math','igatus'])
sf

NameError: name 'pd' is not defined